*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {

  background-color: #253243;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
